Source: draco
Priority: optional
Maintainer: Marcel Wiegand <wiegand@linux.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Section: libs
Homepage: https://google.github.io/draco/
Vcs-Git: https://github.com/google/draco.git
Vcs-Browser: https://github.com/google/draco

Package: libdraco-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Development package of Draco Library by Google Inc.
 Draco is a library for compressing and decompressing 3D geometric
 meshes and point clouds. It is intended to improve the storage
 and transmission of 3D graphics. https://google.github.io/draco/

Package: draco-bin
Architecture: any
Depends: ${misc:Depends}
Description: Binaries of Draco Library by Google Inc.
 Draco is a library for compressing and decompressing 3D geometric
 meshes and point clouds. It is intended to improve the storage
 and transmission of 3D graphics. https://google.github.io/draco/
