Source: draco
Priority: optional
Maintainer: Marcel Wiegand <wiegand@linux.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Section: libs
Homepage: https://google.github.io/draco/
Vcs-Git: https://github.com/google/draco.git
Vcs-Browser: https://github.com/google/draco

Package: draco-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: dracoBROKEN (= ${binary:Version}), ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: dracoBROKEN
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
