Source: draco
Priority: optional
Maintainer: Marcel Wiegand <wiegand@linux.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.2
Section: libs
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/draco.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/draco.git

Package: draco-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: dracoBROKEN (= ${binary:Version}), ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: dracoBROKEN
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
